@import "/imports/ui/newui_components/css/variables.scss";

.leaveWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $fontPrimary;
    font-size: 18px;

    .leaveButtons{
        display: flex;

        > button {
            padding: 5px 60px;
            margin: 10px 20px;
            border-radius: 5px;
            outline: none;
            border: none;
            cursor: pointer;
        }

        .yesLeaveButton {
            background-color: red;
            color: #FFFFFF;
        }

        .noLeaveButton {
            background-color: #FFFFFF;
            color: #000000;
        }
    }
}