@import "/imports/ui/stylesheets/mixins/focus";
@import "/imports/ui/stylesheets/variables/breakpoints";
@import "/imports/ui/stylesheets/variables/placeholders";

//global color
$primaryColor: var(--color-primary);
// $primaryColor: #E64980;
$colorBlack: #000000;
$colorWhite: #ffffff;
$colorRed: #df2721;
$colorPrimary: #7966FA;

//sidebar color
$sidebarIconDark: #7966FA;
$sidebarIconShadow: rgba(120, 22, 247, 0.1);;
$sidebarIconNormal: #9EA5AF;
$sidebarBgDark: #EEF0F5;

//navigation color
$navbarShadow: #F0F1F3;
$navbarShadowDark: #9EA5AF;

//button color
$buttonBgLight: #F4F6F8;
$buttonBgDark: #000000;

//user list Icon
$SvgStroke: #333333;
$SvgFill: #7966FA; 

//tooltip color
$tooltipColor: #ffffff;
$tooltipBgColor: #000000;

//talking indicator
$talkingIndicatorBg : #938b87;

//modal text
$colorGray: #667085;

//fonts
$fontPrimary: 'Inter';