@import '/imports/ui/stylesheets/variables/_all';
@import '/imports/ui/stylesheets/mixins/_indicators';
@import "/imports/ui/newui_components/css/variables.scss";

.OuterSideBox{
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  // width: 56px; 
  // height: 100%;
  background-color: $colorWhite;
  width: 75px;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.LogoBox{
  // padding: 1rem;
  // padding-left: 0.8rem;
  // margin-bottom: 5rem;
  position: absolute;
  top:0;
  left: 0;
  right: 0;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar{
  width: 100%;
}
.IconBox{
  margin-left: 0.63rem;
  margin-bottom: 0.63rem;
  cursor: pointer;
  display: flex;
  width: 100%;
  align-items: center;
  margin: 7px 0px;
  justify-content: center;
  // border-right: solid 4px #7966FA;
  // border-left: solid 4px #ffffff;
}

.IconUnfill{
  border-right: solid 4px $colorWhite;
  border-left: solid 4px $colorWhite;
  transition: border-right 0.2s ease;
}
.IconFill {
  border-right: solid 4px $sidebarIconDark;
  border-left: solid 4px $colorWhite;
  transition: border-right 0.4s ease;
}

// .IconBox:hover{
//   border-right: solid 4px #7816F7;
//   border-radius: 5px;
//   transition-duration: 0.2s;
// }
// .IconBox:hover .chat,.IconBox:hover .breakoutroom,.IconBox:hover .poll,.IconBox:hover .document,.IconBox:hover .user,.IconBox:hover .video,.IconBox:hover .settings{
//   fill: #7816F7;
//   transition-duration: 0.2s;
// }
.IconOuter{
  // top:6.25rem;
  // height: 100vh;
  // position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: 0;
  right: 0;
}
.IconShadow{
  padding: 10px;
  width: fit-content;
  border-radius: 6px;
  cursor: pointer;
  background-color: transparent;
}
.selectedBox{
  padding: 10px;
  width: fit-content;
  border-radius: 6px;
  cursor: pointer;
  background-color: $sidebarIconShadow;
  transition: background-color 0.2s ease;
}

.sidebarIcon{
  display: flex;
}
.sideTooltipWrapper{
  // position: relative;
  position: absolute;
  left: 50px;
  pointer-events: none;
}
.sidebarTooltip{
  height: 23px;
  position: absolute;
  background-color: $tooltipBgColor;
  color: $tooltipColor;
  top: 0;
  left: 15px;
  border-radius: 100px;
  padding: 5px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}
.sidebarTipArrow{
  height: 8px;
  width: 20px;
  background-color: $tooltipBgColor;
  border-radius: 100%;
  position: absolute;
  left: 10px;
  top: 7px;
}
.sidebarTooltip span {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 26px;
  color: $tooltipColor;
  white-space: nowrap;
}

.sidebarIcon .sideTooltipWrapper {
  opacity: 0;
  z-index: 999;
  transition: 0.3s all ease-in-out;
}

.sidebarIcon:hover .sideTooltipWrapper {
  opacity: 1;
}

.sidebarIconGroup {
  cursor: pointer;
  display: flex;
  width: 100%;
  align-items: center;
  margin: 7px 0px;
  justify-content: center;
}

.sidebarBadge {
  position: relative;
}
.userIconBadge{
  position: absolute;
  padding: 2px 5px;
    height: 19px;
    left: -7px;
    top: -10px;
    background: $primaryColor;
    border: 1px solid $colorWhite;
    border-radius: 100px;
}

.userIconBadge span {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: $colorWhite;
  flex: none;
  order: 0;
  flex-grow: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnWithNotificationDot {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    // bottom: var(--border-size);
    right: 0px;
    top: 0px;
    background-color: var(--color-danger);
    // border: var(--border-size) solid var(--color-gray-dark);
  }
}


.iconWrapper {
  border: 1px solid #d7dbe4;
  border-radius: 6px;
  cursor: pointer;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  padding: 0px 3px;
  height: 58px;
  overflow: hidden;
  transition: height 0.4s ease-in-out;
}

#iconGroup{
  height: 58px;
}

.singleIcon{
  padding: 10px;
  width: fit-content;
}

.pIcon {
  margin-left: 0.63rem;
  margin-bottom: 0.63rem;
  cursor: pointer;
  display: flex;
  width: 100%;
  align-items: center;
  margin: 7px 0px;
  justify-content: center;
}