@import "/imports/ui/newui_components/css/variables.scss";
@import "/imports/ui/stylesheets/mixins/_scrollable";

.pollContainer{
    width: 350px;
    font-family: $fontPrimary;
    height: 100vh;
    overflow-x: hidden;
    @include scrollbox-vertical(var(--user-list-bg));
}

.createClassWrapper{
    // padding: 20px;
    max-height: calc(100vh - (44px + (2 * var(--bars-padding))));
    padding: 0 var(--bars-padding);
}

.pollTitleDiv {
    height: 44px;
    margin: var(--bars-padding);
    display: flex;
    align-items: center;

    .createPollTitle {
        font-family: $fontPrimary;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        // line-height: 20px;
        // padding-bottom: 20px;
    }
}

.createBox{
    background-color: $colorWhite;
    padding: 20px;
    border-radius: 12px;
    outline: none;

    h3 {
        margin-top: 0px;
        font-size: 18px;
        font-weight: 600;
        color: var(--color-tip-bg);
        margin-bottom: 20px;
    }

    input {
        background-color: #FBFBFC;
        border: 1px solid #EBEDF0;
        box-sizing: border-box;
        border-radius: 6px;
        margin-bottom: 15px;
    }
}

.quesInput{
    height: 67px;
    padding: 8px;
    width: -webkit-fill-available;
}
.choiceInp{
    width: -webkit-fill-available;
    padding: 8px;
}
.addChoiceTab{
    display: flex;
}

.removeButton {
    background-color: #F4F6F8;
    border-radius: 6px;
    margin: 0px 0px 10px 10px;
    border: 0px;
    outline: none;
    font-size: 25px;
    cursor: pointer;
    width: 45px;
    transition: 0.2s ease;
}

.createButton{
    background-color: #F4F6F8;
    border-radius: 6px;
    padding: 10px;
    border: 0px;
    outline: none;
    width: 100%;
    cursor: pointer;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: -0.02em;
    transition: 0.2s ease;
}
.createButton:hover{
    background-color: $buttonBgDark;
    color: $buttonBgLight;
}

.addItemButton {
    background-color: #F4F6F8;
    border-radius: 6px;
    padding: 10px;
    border: 0px;
    outline: none;
    width: 100%;
    cursor: pointer;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: -0.02em;
    transition: 0.2s ease;
    margin-bottom: 10px;
}

.createClass h1{
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 20px;
}
.liveBtnDiv{
    display: flex;
}
.liveFormBttn{
    flex: 1;
    background-color: #F4F6F8;
    border-radius: 6px;
    padding: 10px;
    border: 0px;
    outline: none;
    margin: 0px 5px;
    cursor: pointer;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: -0.02em;
    transition: 0.2s ease;
}
.liveFormBttn:hover{
    background-color: $buttonBgDark;
    color: $buttonBgLight;
}
//live poll
.pollBar {
    position: relative;
    box-sizing: border-box;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 20px;
}
.pollBar1 {
    position: relative;
    background: #EBEDF0;
    border: 1px solid #EBEDF0;
    box-sizing: border-box;
    border-radius: 6px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: 0.2s ease;
}
.pollBar1:hover {
    border: 1px solid #7966FA;
    background-color: rgba(121, 102, 250, 0.1);
}
.pollContent {
    font-family: $fontPrimary;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.02em;
    display: flex;
    color: #7966FA;
    justify-content: space-between;
    margin: 5px;
    align-items: center;
}
.pollContent1 {
    font-family: $fontPrimary;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.02em;
    display: flex;
    color: #808080;
    justify-content: space-between;
    margin: 10px;
}
.pollContent1:hover {
    color: #7966FA;
}

.pollLayer{
    width: 0%;
    transition: 0.3s ease;
    height: 100%;
    background-color: rgba(121, 102, 250, 0.1);
    position: absolute;
}

.liveResTable {
    width: -webkit-fill-available;
    padding: 20px;
    margin: 20px;
    box-sizing: border-box;
    border-radius: 12px;
    font-family: $fontPrimary;
}

.liveResTable tr{
    padding: 5px 0px;
    font-family: $fontPrimary;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height */
    text-transform: capitalize;
}

.userResponse{
    padding: 20px;
}
.ansBox{
    display: flex;
    justify-content: space-between;
    margin-bottom: 17px;
    align-items: center;
}
.ansBoxLeft{
    display: flex;
}
.ansBoxAvatar{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background-color: red;
    color: $colorWhite;
}
.ansBoxLeft img{
    height: 38px;
    width: 38px;
    border-radius: 50%;
}
.ansBoxName{
    font-family: $fontPrimary;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-transform: capitalize;
    color: #333333;
    display: flex;
    align-items: center;
    margin-left: 16px;
}
.ansBoxOption{
    border-radius: 50%;
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $fontPrimary;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.02em;
    margin-right: 10px;
}

.barOption{
    height: 30px;
    width: 30px;
    border-radius: 8px;
    font-family: $fontPrimary;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.02em;
    margin-right: 10px;
    color: $colorWhite;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pollInline{
    display: flex;
    align-items: center;
}

.pollContainerError{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.pollContainerError h3{
    color: #888888;
}

.withError {
    color: var(--color-danger);
    margin: 0px;
    padding-top: 1rem;
    font-family: $fontPrimary, sans-serif;
}