@import "/imports/ui/newui_components/css/variables.scss";

.iconFill{
    fill: $primaryColor;
}

.iconStroke {
    stroke: $primaryColor;
}

.iconOffFill{
    fill: $SvgFill;
}

.iconOffStroke{
    stroke: $SvgStroke;
}