@import "/imports/ui/newui_components/css/variables.scss";
@import "/imports/ui/stylesheets/mixins/_scrollable";

.breakoutRoomFlow{
    height: 100%;
    background-color: $sidebarBgDark;
    width: 350px;
    position: relative;
}
.BreakoutroomHeading{
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;   
}
.BreakoutroomHeadingOuter{
    padding: 1.5rem;
    padding-left: 1rem;
}
.BreakoutInput{
    display: flex;
}
.createBreakOutBox{
    width: 90%;
    background: #FFFFFF;
    border-radius: 12px;
    padding: 1rem;
    margin-bottom: 1rem;
}
.centerAlign{
    display: flex;
    justify-content: space-between;
}
.centerAlign1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.AllRoomsBox{
    height: 60%;
    overflow-y: auto;
    width: 100%;
    padding: 0.9rem;
    padding-left: 1.1rem;
}
.AllRoomsBox::-webkit-scrollbar{
    width:8px;
}
.AllRoomsBox::-webkit-scrollbar-track{
    margin-top: 1rem;
}
.AllRoomsBox::-webkit-scrollbar-thumb {
    background: #CFD2DA; 
    border-radius: 100px;
}
.InputBox{
    margin-left: 4rem;
}
.createBreakoutHeading{
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 1rem;
    line-height: 26px;    
    text-transform: capitalize;
    color: #333333;
}
.InputHeadings{
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 0.5rem;
    text-transform: capitalize;
    color: #000000;
}
.InputRooms,.InputDuration,.mylabel{
    padding: 0.5rem;
    border: 1px solid #EBEDF0;
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;   
    letter-spacing: -0.02em;
    color: #888888;
}
.InputDuration{
    width: 40%;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}
.InputRooms{
    border-radius: 6px;
    width: 200%;
    cursor: pointer;
}
.mylabel{
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}
.Check{
    margin-top: 1rem;
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.02em;
}
.Tick{
    margin-top: 0.8rem;
    margin-right: 0.2rem;
    cursor: pointer;
}
.close{
    padding: 0.5rem;
    display: flex;
    width: fit-content;
}
.create{
    text-align: center;
    padding-top: 0.5rem;
    width: 100%;
    margin-left: 15px;
}
.close,.create{
    background: #F4F6F8;
    border-radius: 6px;
    margin-top: 1rem;
    cursor: pointer;
}
.close:hover,.create:hover,.close:hover .cross{
    background:#333333;
    color: #F4F6F8;
    stroke: #F4F6F8;
    transition-duration: 0.2s;
}
.create1{
    text-align: center;
    width: 90%;
    padding: 5px;
    font-size: 16px;
    background: #F4F6F8;
    border-radius: 6px;
    margin: 1rem;
    cursor: pointer;
}
.create1:hover {
    background:#333333;
    color: #F4F6F8;
    stroke: #F4F6F8;
    transition-duration: 0.2s;
}
.alignAtcorners{
    display: flex;
    justify-content: space-between;
}
// .userRoom{
//     width: 2rem;
//     height: 2rem;
//     margin-left: -0.5rem;
// }

.userRoom{
    width: 2.25rem;
    height: 2.25rem;
    margin-left: -0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #7816F7;
    color: white;
    border-radius: 50%;
    border: 2px solid white;
}

.RoomName{
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #333333;
}
.RoomDuration{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    text-align: right;
    color: #787D8D;
}
.PlusButton{
    background: rgba(68, 204, 136, 0.1);
    border-radius: 6px;
    padding: 0.4rem;
    padding-bottom: 0rem;
    margin-top: 1rem;
}
.PlusButton:hover .add,.PlusButton:hover{
    stroke: white;
    background-color: #44CC88;
    cursor: pointer;
    transition-duration: 0.2s;
}
.ImageGroup{
    margin-top: 1rem;
    display: flex;
    margin-left: 0.5rem;
}
.RoomBox{
    margin-bottom: 1rem;
    padding: 1rem;
    width: 100%;
    background: #FFFFFF;
    border-radius: 12px;
}
.remaining{
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 100px;
    background-color: #7816F7;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 26px;
    color: #FFFFFF;
    margin-left: -0.5rem;
    z-index: 1;
    border: 2px solid white;
}

.userBox{
    padding: 5px 10px;
    display: flex;
    align-items: center;
}
.userNameLabel{
    font-size: 17px;
}
.round {
    position: relative;
    margin-right: 10px;
  
    & label {
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 50%;
      cursor: pointer;
      height: 28px;
      left: 0;
      right : auto;
      position: absolute;
      top: 0;
      width: 28px;
  
      [dir="rtl"] & {
        left : auto;
        right: 0;
      }
    }
  
    & label:after {
      border: {
        style: solid;
        color:  #fff;
        width: 2px;
        right: {
          style : none;
        }
        top: {
          style: none;
        }
      }
      content: "";
      height: 6px;
      left: 7px;
      opacity: 0;
      position: absolute;
      top: 8px;
      transform: rotate(-45deg);
      width: 12px;
  
      [dir="rtl"] & {
        border: {
          style: solid;
          color:  #fff;
          width: 2px;
          left: {
            style : none;
          }
          top: {
            style: none;
          }
        }
      }
    }
  
    & input[type="checkbox"] {
      visibility: hidden;
      height: 28px;
      width: 28px;
    }
  
    & input[type="checkbox"]:checked + label {
      background-color: #66bb6a;
      border-color: #66bb6a;
    }
  
    & input[type="checkbox"]:checked + label:after {
      opacity: 1;
    }
  }

.smBottomDiv{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}


//new css

.extendTimeContainer {
    border-top: 1px solid var(--systemMessage-border-color);
    border-bottom: 1px solid var(--systemMessage-border-color);
    padding: 10px 0px;
  }

  .extendDuration {
    width: 50%;
    text-align: center;
    padding: .25rem;
  
    &::placeholder {
      color: var(--color-gray);
      opacity: 1;
    }
  }

  .withError {
    color: var(--color-danger);
  }

  .endButton {
    font-family: 'Montserrat', sans-serif;
    background: #333333;
    padding: .7rem;
    margin: 0.9rem;
    font-weight: var(--headings-font-weight) !important;
    border-radius: .4rem;
    font-size: var(--font-size-small);
    margin-right: 10px;
  }
  
  .endButton:hover {
    background-color: #CFD2DA;
    color: #333333;
    transition-duration: 0.2s;
  }

  .close:hover .randomIcon{
    fill: white;
  }

  //breakout
  .panel {
    // @include scrollbox-vertical();
    // background-color: #fff;
    // padding: var(--md-padding-x);
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
   }

   .breakoutColumn {
    display: flex;
    flex-flow: column;
    min-height: 0;
    flex-grow: 1;
    padding: 0.9rem;
    @include scrollbox-vertical(var(--user-list-bg));
    // overflow-y: scroll;
  }

  .breakoutItems {
    margin-bottom: 1rem;
    padding: 1rem;
    width: 100%;
    background: #FFFFFF;
    border-radius: 12px;
  }

  .breakoutRoomListNameLabel {
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Montserrat',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #333333;
  }
  .durationContainer {
    text-align: center;
  }
  .breakoutRemainingTime{
    margin-right: 10px;
  }
//   .remaining{
//     width: 2.25rem;
//     height: 2.25rem;
//     border-radius: 100px;
//     background-color: #7816F7;
//     display: flex;
//     justify-content: space-around;
//     align-items: center;
//     font-family: 'Montserrat',sans-serif;
//     font-style: normal;
//     font-weight: bold;
//     font-size: 11px;
//     line-height: 26px;
//     color: #FFFFFF;
//     margin-left: -0.5rem;
//     border: 2px solid white;
// }
.PlusActions {
  display: flex;
}
.PlusButton{
  margin-left: 5px;
}

.sideTooltipWrapper{
  position: relative;
  pointer-events: none;
}
.sidebarTooltip{
  height: 23px;
  position: absolute;
  background-color: $tooltipBgColor;
  color: $tooltipColor;
  top: 0;
  left: 15px;
  border-radius: 100px;
  padding: 5px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}
.sidebarTipArrow{
  height: 8px;
  width: 20px;
  background-color: $tooltipBgColor;
  border-radius: 100%;
  position: absolute;
  left: 10px;
  top: 7px;
}
.sidebarTooltip span {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 26px;
  color: $tooltipColor;
  white-space: nowrap;
}

.close .sideTooltipWrapper {
  opacity: 0;
  z-index: 999;
  transition: 0.3s all ease-in-out;
}

.close:hover .sideTooltipWrapper {
  opacity: 1;
}