@import "/imports/ui/stylesheets/variables/breakpoints";
@import "/imports/ui/components/modal/simple/styles";
@import '/imports/ui/stylesheets/mixins/focus';
@import '/imports/ui/stylesheets/mixins/_indicators';
@import '/imports/ui/components/loading-screen/styles';
@import "/imports/ui/stylesheets/variables/placeholders";
@import "/imports/ui/newui_components/css/variables.scss";

.warning {
  text-align: center;
  font-weight: var(--headings-font-weight);
  font-size: 5rem;
  white-space: normal;
}
.text {
  margin: var(--line-height-computed);
  text-align: center;
}

.main {
  margin: var(--line-height-computed);
  text-align: center;
  font-size: var(--font-size-large);
}

.actions {
  // margin-left: auto;
  // margin-right: var(--border-size-large);
  display: flex;
  justify-content: flex-end;

  [dir="rtl"] & {
    margin-right: auto;
    margin-left: var(--border-size-large);
  }

  :first-child {
    // margin-right: var(--border-size-large);
    // margin-left: 1rem;
    // margin-left: inherit;

    [dir="rtl"] & {
      margin-right: inherit;
      margin-left: var(--border-size-large);
    }
  }
}

.extraActions {
  margin-right: auto;
  margin-left: var(--border-size-large);

  [dir="rtl"] & {
    margin-left: auto;
    margin-right: var(--border-size-large);
  }

  :first-child {
    margin-left: var(--border-size-large);
    margin-right: inherit;

    [dir="rtl"] & {
      margin-left: inherit;
      margin-right: var(--border-size-large);
    }
  }
}

.closeBtn {
  i {
    color: var(--color-gray-light);
  }

  margin-left: auto;
  margin-right: 0;

  [dir="rtl"] & {
    margin-left: 0;
    margin-right: auto;
  }
}

.col {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin: 0 1rem 0 2rem;

  width: 50%;
  @include mq($small-only) {
    width: 90%;
    height: unset;
  }
}

// .videoCol {
//   @extend .col;
//   align-items: center;

//   @include mq($landscape) {
//     width: 33.3%;
//   }
// }

.content {
  display: flex;
  align-items: center;
  flex-grow: 1;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: $colorGray;

  @include mq($small-only) {
    flex-direction: column;
    margin: 0;
  }
}

.footer {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  border: none;
}

.label {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #344054;
  margin-bottom: 6px
}

.modal {
  @extend .modal;
  padding: 1rem;
  min-height: 25rem;
  max-height: 60vh;

  & > [class^="content"] {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  @include mq($small-only) {
    height: unset;
    min-height: 22.5rem;
    max-height: unset;
  }
}

.modalPhone {
  min-height: 100%;
  min-width: 100%;
  border-radius: 0;
}

.overlay {
  @extend .overlay;
}

.preview {
  height: 100%;
  width: 100%;
  border-radius: 8px;

  @include mq($small-only) {
    height: 10rem;
  }
}

.mirroredVideo {
  transform: scale(-1, 1);
}

.row {
  display: flex;
}

.select {
  // @include elementFocus(var(--color-primary));

  // background-color: var(--color-white);
  // border: var(--border-size) solid var(--color-white);
  // border-radius: var(--border-size);
  // border-bottom: 0.1rem solid var(--color-gray-lighter);
  // color: var(--color-gray-label);
  // width: 100%;
  // height: 1.75rem;
  // padding: 1px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #667085;
  background: #FFFFFF;
  border: 1px solid #D0D5DD;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  padding: 10px 14px;
  margin-bottom: 12px;

  // &:hover,
  // &:focus {
  //   @extend %highContrastOutline;
  // }
}

.title {
  display: block;
  color: var(--color-background);
  font-size: 1.4rem;
  text-align: center;
  font-family: $fontPrimary;
}

.browserWarning {
  padding: 0.5rem;
  border-width: var(--border-size-large);
  border-style: solid;
  border-radius: 0.25rem;
  margin: var(--line-height-computed);
  text-align: center;
}

// .fetchingAnimation {
//   margin: auto;
//   display: inline-block;
//   width: 1.5em;

//   &:after {
//     overflow: hidden;
//     display: inline-block;
//     vertical-align: bottom;
//     content: "\2026"; /* ascii code for the ellipsis character */
//     width: 0;
//     margin-left: 0.25em;

//     :global(.animationsEnabled) & {
//       animation: ellipsis steps(4, end) 900ms infinite;
//     }
//   }
// }

// @keyframes ellipsis {
//   to {
//     width: 1.5em;
//   }
// }

.loadingLabel {
  display: flex;
  align-items: center;
}

.fetchingAnimation {
  display: flex;
  margin-left: 5px;

  span {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-left: 4px;
    animation: loading 0.5s infinite alternate;
  }

  span:nth-child(1) {
    animation-delay: .10s;
    background-color: #1DC20233;
  }

  span:nth-child(2) {
    animation-delay: .20s;
    background-color: #1DC20280;
  }

  span:nth-child(3) {
    animation-delay: .30s;
    background-color: #1DC202;
  }
}

@keyframes loading {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.findingLabel {
  margin-left: 14px;
}

.modalConBtn {
  height: 44px;
  // padding: 10px 50px;
  margin-left: 1rem;
  width: 28%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  background: $SvgFill;
  border: 1px solid $SvgFill;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  color: $colorWhite;
  cursor: pointer;

  span {
    font-family: $fontPrimary;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
  }
}

.modalConBtn:hover {
  background: #7A5AF8;
  color: $colorWhite;
}

.modalConBtn:disabled {
  background: #967bff;
  cursor: not-allowed;
}

.modalConBtnDn {
  height: 44px;
  margin-left: 1rem;
  // padding: 10px 50px;
  width: 28%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  background: $colorRed;
  border: 1px solid $colorRed;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  color: $colorWhite;
  cursor: pointer;

  span {
    font-family: $fontPrimary;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
  }
}

.modalConBtnDn:hover {
  background: #da160f;
  color: $colorWhite;
}

.modalConBtnDn:disabled {
  background: #da160f;
  cursor: not-allowed;
}

.loadCamIcon {
  min-width: 24px;
}