@import '/imports/ui/stylesheets/mixins/_indicators';
@import "/imports/ui/stylesheets/variables/placeholders";
@import "/imports/ui/newui_components/css/variables.scss";

.visuallyHidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

%recordingControl {
  display: flex;
  align-items: center;
  border-radius: 2em 2em;
  margin-left: 1rem;

  span {
    border: none;
    box-shadow: none;
  }

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 var(--border-size) var(--color-primary);
  }
}

.recordingControlON {
  @extend %recordingControl;

  padding: 5px 10px;
  background-color: $navbarShadow;
  // border: var(--border-size-large) solid var(--color-primary);

  &:focus {
    padding: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    box-shadow: none;
  }
}

.recordingControlOFF {
  @extend %recordingControl;

  padding: 5px 10px;
  background-color: $navbarShadow;
  // border: var(--border-size-large) solid var(--color-white);
  
  &:focus {
    padding: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    box-shadow: none;
  }
}

.presentationTitle,
.recordButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 400;
  color: $navbarShadowDark;
  font-size: var(--font-size-base);
  padding: 0;
  margin-right: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 30vw;

  [dir="rtl"] & {
    margin-left: 0;
    margin-right: var(--sm-padding-x);
  }

  >[class^="icon-bbb-"] {
    font-size: 75%;
  }

  span {
    vertical-align: middle;
  }
}

.presentationTitleMargin {
  [dir="ltr"] & {
    margin-right: var(--sm-padding-x);
  }
}

.recordingStatusViewOnly {
  display: flex;
  align-items: center;
  // background-color:;
}

.recordingIndicatorIcon {
  width: var(--font-size-large);
  height: var(--font-size-large);
  font-size: var(--font-size-base);
}

.recordingIndicator {
  &:hover {
    @extend %highContrastOutline;
  }
  &:active,
  &:focus,
  &:focus-within {
    @extend %highContrastOutline;
    outline-style: solid;
  }
  background-color: transparent !important;
}

.presentationTitleSeparator {
  color: var(--color-gray);
  font-size: var(--font-size-base);
  margin: 0 1rem;
}